<!-- <p>details works!</p> -->



<div class="card">
    <img src="{{imagePath}}{{single_details.image}}" class="card-img-top" alt="">
    <div class="card-body">
      <h4 class="card-title css"><b class="coffee">Name:</b> {{single_details.itemName}}</h4>
      <!-- <h1 class="card-title"> Name:{{single_details.itemName}}<p>{{single_details.itemName}}</p></h1> -->
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item white"><b class="coffee">Description:</b> &nbsp;{{single_details.itemDetails}}</li>
      <li class="list-group-item css"><b class="coffee">Price:</b> ₹. {{single_details.price}}</li>
      <!-- <span class="text-danger fw-semibold me-2"><b class="coffee">Price:</b> Rs. {{single_details.price}}</span><del>$250</del> -->

    </ul>
    <div class="card-body">
      <!-- <a href="#" class="card-link">Card link</a> -->
      <p>
      <button class="btn btn-outline-warning">Order Now</button>
      <button class="btn btn-sm btn-success" (click)="addItemTocart()">Add To Cart</button>
      </p>
      <!-- <a href="#" class="card-link">Another link</a> -->
    </div>
  </div>